
<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
  .myErrorMsg {
    color: #FA787E;
  }
</style>

<h1>| {{vm.title}} | </h1>

<div class="wrapper-md" >
  <form name="form" novalidate class="css-form">
    <label>Please Input Map Size:
            <input type="number" class="form-control k-textbox" name="param" placeholder="3..10"
            ng-model="vm.param" min="3" max="10" required />
            <span ng-show="form.param.$error.min || form.param.$error.max" class="myErrorMsg">The value must be in range 3 to 10!</span>
    </label><br />

    <input type="submit" ng-click="vm.generateIsland($event)" value="Generate" />
  </form>

      <hr/>
      <b>Map:</b>
      <div ng-repeat="rows in vm.displayIsland track by $index">
          <span ng-repeat="cell in rows track by $index">
            {{cell}}
          </span>
      </div>
      <span>Number of island is :<b> {{vm.numberOfIsland}} </b> </span>

</div>
